body {
    font-family: Arial, sans-serif;
    background-color: #E8DEED;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #9CDD7A;                                          
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #061001;
}

form {
    display: flex;
    flex-direction: column
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #9ADF56;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}

button:disabled {
    background-color: #8ACC4D;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #AEDEE3;
}

#task-list {
    margin-top: 20px;
    text-align: left;
    padding: 0;
}

#task-list li {
    list-style-type: decimal;
    background-color: #F5F5F5;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
